mat-card {
  margin-bottom: 10px;
}

.mat-stroked-button.small {
  line-height: 10px;
}
table {
  width: 100%;
}

th.amount,
th.date {
  width: 10%;
}

th.tlacidla {
  width: 20%;
}

table a {
  display: none;
}
table tr:hover a {
  display: inline;
}

.title-card-right {
  display: inline;
  float: right;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
