<div class="row my-row-bottom">
  <div class="container">
    <div class="row">
      <div class="my-col-top col-12">
        <mat-card class="trvale-prikazy-card">
          <mat-card-header>
            <mat-card-title> Prehľad trvalých príkazov </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Trvalé príkazy sú ideálne, keď potrebujete pravidelne posielať
              platby v rovnakej výške. Tu ich môžete upravovať alebo vytvárať
              nové.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="my-col-bottom col-12">
        <mat-card class="tabulka-card">
          <mat-card-header>
            <mat-card-title class="title-card-right">
              <button mat-raised-button color="primary" (click)="onCreate()">
                Nový trvalý príkaz
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- start of a table -->
            <div class="table-responsive">
              <table
                class="table"
                *ngIf="
                  orderListService.orders && orderListService.orders.length
                "
              >
                <caption></caption>
                <thead>
                  <tr>
                    <th id="date" class="date"></th>
                    <th id="details" class="details"></th>
                    <th id="tlacidla" class="tlacidla"></th>
                    <th id="amount" class="amount"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let order of orderListService.orders"
                    (mouseenter)="changeText = true"
                    (mouseleave)="changeText = false"
                  >
                    <td>
                      {{ order.validFrom | date: "dd.MMM" }}
                    </td>
                    <td>
                      {{ order.name }}
                      <br />
                      <button mat-flat-button disabled class="medium">
                        {{ orderListService.getInterval(order.interval) }}
                      </button>
                      IBAN: {{ order.accountNumber }}
                    </td>
                    <td>
                      <a class="button">
                        <span *ngIf="changeText">
                          <button
                            mat-stroked-button
                            color="primary"
                            class="small"
                            (click)="onEdit(order)"
                          >
                            <em class="far fa-edit"></em>
                            Upraviť
                          </button>
                          <button
                            mat-stroked-button
                            color="primary"
                            class="small"
                            (click)="onDelete(order)"
                          >
                            <em class="fas fa-trash-alt"></em>
                            Zmazať
                          </button>
                        </span>
                      </a>
                    </td>
                    <td>
                      {{ order.amount * -1 | currency: "EUR":"symbol":"1.2" }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th id="date" class="date"></th>
                    <th id="details" class="details">{{ getSum() }}</th>
                    <th id="tlacidla" class="tlacidla"></th>
                    <th id="amount" class="amount">
                      {{
                        getTotalAmount() * -1 | currency: "EUR":"symbol":"1.2"
                      }}
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
