<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title> Vitajte </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Proin dignissim rutrum nulla et euismod. Proin vulputate, lacus et
      sagittis pharetra, velit quam ornare odio, in varius nisi nisi vel nibh.
      Curabitur eros enim, accumsan sed cursus a, tincidunt nec enim. Phasellus
      et commodo nisl. Duis tincidunt purus sed luctus luctus. Vivamus est
      velit, convallis vel laoreet at, suscipit id sapien. Praesent efficitur
      condimentum neque. Phasellus at quam eros. Integer ultricies lacus vitae
      commodo accumsan. Mauris orci lorem, semper ut enim ac, dapibus semper
      risus. Aenean vulputate, lacus quis finibus bibendum, ex sapien dapibus
      dui, et facilisis nisi justo eget ipsum.
    </p>

    <p>
      Nam commodo pellentesque metus vel venenatis. Donec consectetur finibus
      nulla id gravida. Integer sollicitudin maximus eros sit amet pellentesque.
      In tincidunt nisl et nibh pretium laoreet. Etiam vel magna dictum,
      vehicula est suscipit, bibendum purus. Vivamus feugiat eleifend leo eu
      consequat. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Nulla mattis eros venenatis libero mollis congue.
      Aliquam tincidunt hendrerit faucibus. Aliquam iaculis rutrum ipsum eget
      pretium. Nunc hendrerit imperdiet quam id mollis. Nam et nunc vitae velit
      dictum iaculis.
    </p>
  </mat-card-content>
</mat-card>
